<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">	<title>JPA</title>
</head>
<body>
	<nav th:insert="~{fragments/navigation :: block-navigation('create/update socio')}"></nav>
	<div align="center" class='container'>
		<p class='mt-4'>Inserire dati relative al socio</p>
		<form class='form-content' th:action="@{saveSocio}" th:object="${socio}" method="post">
			
			<input type="hidden" th:field="*{id}"/>
			
			<table class="table table-secondary w-25">
				<tr>
					<td><label class='form-label'>Nome</label></td>				
					<td><input type="text" th:field="*{nome}" name="nome" placeholder="es. Paolo" required></td>
				</tr>
				<tr>
					<td><label class='form-label'>Cognome</label></td>				
					<td><input type="text" th:field="*{cognome}" name="cognome" placeholder="es. Rossi" required></td>
				</tr>
				<tr>
					<td><label class='form-label'>Codice Fiscale</label></td>				
					<td><input type="text" th:field="*{codiceFiscale}" placeholder="16 car." name="codiceFiscale"></td>
				</tr>
				<tr>
					<td><label class='form-label'>Email</label></td>				
					<td><input type="email" th:field="*{email}" name="email" placeholder="email"></td>
				</tr>
			</table>
			<div align="center" class="mt-4">		
				<button type="submit" class="btn btn-primary">Registra socio</button>
				<a  th:if="*{id} != null" class="btn btn-danger"
						th:href="@{removeSocio(id=*{id})}"
		 					onclick="return confirm('Sei sicuro di voler rimuovere questo Socio?');">
					<span>Cancella socio</span>
				</a>
			</div>
			<div class="container-error mt-2" th:if="*{errrorMsg} != null">
				<span th:text="*{errrorMsg}" style="color:red">*</span>			
			</div>
		</form>
	</div>	
</body>
</html>