<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">	<title>JPA</title>
	<title>Login</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand"
					href="https://www.betacom.it/betacom-academy/">JPA</a>
			</div>
	</nav>
	
	<div align="center" class="row mb-4">
		<h1>Login</h1>
		
		<div th:if="${param.error}" style="color:red" class="mb-4">
			Invalid username / password
		</div>
		<div th:if="${param.logout}" style="color:red" class="mb-4">
			You have been logged out
		</div>

	<form th:action="@{/login}" method="post">
    	<div>
        	<input type="text" name="username" class="form-text" placeholder="User name" />
    	</div>
    	<div>
        	<input type="password" name="password" class="form-text" placeholder="Password" />
    	</div>
    	<div align="center" class="mt-4">
        	<input type="submit" class="btn btn-success" value="Sign In">
   	 	</div>
	</form>
	<div class="mt-4">
	<a class="col-2" th:href="@{/register}">Nuovo utente?</a>
	</div>
		
	
	
	</div>
</body>
</html>